<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="add/" method="post">
        {% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="Save">
    </form>

    {% for item in todolistitem_list %}
    <li>
        {{ item.content }}
        <form action="delete/{{item.pk}}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    </li>
    {% endfor %}
</body>
</html>
